table{
    border-collapse: collapse;
}
td{
    width: 100px;
    height: 100px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent black;
    background-color: aquamarine;
    margin: 3px;
    border-spacing: 5px ;
    font-size: 30px;
    
}

.wrapper{}